<div class="center">
    <div class="center2 div_form">
        <h2>Login</h2>
        <br/>
        <div>
            <label>User name: </label>
            <input type="text" placeholder=""/>
        </div>
        <br/>
        <div>
            <label>Password: </label>
            <input type="password" placeholder=""/>
        </div>
        <div>
            <a [routerLink]="['/reset-password']">I forgot the password</a>g
        </div>
        <br/>
        <div>
            <button>Log in</button>
        </div>
        <br/>
    </div>
</div>

