<p>This is an example of how Angular Routing works</p>
<p>
    To calls (###) ###.#### or send a email to <a href = "mailto:abc@example.com?subject = Feedback&body = Message">sample@domain.com</a>
</p>
<a routerLink="/contact/form">Contact form here</a>

<div>
    <br/>
<button (click)="changeStatus()" *ngIf="!auth.autorized">Autorizar acceso a Menu</button>
<button (click)="changeStatus()" *ngIf="auth.autorized">Desautorizar acceso a Menu</button>
</div>

<!-- Child routes -->
<div>
    <router-outlet></router-outlet>
</div>